*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.cover{
    width: 100%;
    height: 100vh;
    background-image: url(image/cover1.png);
    background-size: cover;
    background-position: center;

}
.logo{
    max-height: 100px;
    max-width: 100px;
    cursor: pointer;
}   
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;

}
.content p{
    font-size: 30px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 4px solid white;
    background: transparent;
    color: yellow;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:yellow ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}
button:hover{
    border:yellow;
}